form#movie-database {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}
#filters {
    display: flex;
    flex-direction: column;
}
#filters input[type=number] {
        width: 3rem;
}

#filters h4 {
        margin-bottom: 0.2rem;
}


ul.movie-list h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: blue;
}


ul.movie-list > li {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
     min-height: 50px;
}


.title{
    color: darkslategray;
    font-size: 1.2rem;
    margin: 0;
}

.mpaa{
    color: slategray;

        
}

.genre{
    color: lightslategray
}

.ratings {
    display: flex;
    flex-direction: row;
}
.imdb, .rotten-tomatoes {
    color: gray;
    border: 1px solid gray;
    width: 60px;
    text-align: center;
    font-size: 1.2rem;
}
.imdb::before {
    content: "IMDB";
    display: block;
    font-size: 1rem;
}
.rotten-tomatoes::before {
    content: "Rotten";
    display: block;
    font-size: 1rem;
}
